<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgF9EOZfM3QkSBlCULsz1pwSZoNss3GGg</string>
	<key>GCM_SENDER_ID</key>
	<string>314599153989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farihmhmd.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-51679</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-51679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314599153989:ios:e636f76aab1c7f5d0cde2c</string>
</dict>
</plist>